@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body
{
	min-height: 100vh;
	overflow-x: hidden;
	background-image: linear-gradient(#283E51, #0A2342);
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
	
}

header img
{
	text-decoration: none;
	height: 8vh;
	
}

header ul
{
	display: flex;
	justify-content:  center;
	align-items: center;
	
}

header ul li
{
	list-style: none;
	margin-left: 20px;
}

header ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
	
}

header ul li a:hover,
header ul li a.active
{
	background: #fff;
	color: #2b1055;
	
}

.section
{
	position: relative;
	width: 100%;
	padding: 211px;
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	align-content: space-between;
	
}

.section::before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	
}

.section img#stars
{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	pointer-events: none;
}






.flip-card
{
	width: 300px;
	height: 350px;
	margin-bottom: 130px;
}

.flip-card-front
{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20%;
}

.flip-card-back
{
	color: #fff;
	transform: rotateY(180deg);
	z-index: 1;
	border-radius: 20%;
}

.flip-card-back .back-header
{
	height: 45%;
	text-align: center;
}

.flip-card-back .back-header img
{
	width: 50%;
	margin-top: 20px;
}

.flip-card-inner 
{
	position: relative;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card-back, .flip-card-front
{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card:hover .flip-card-inner
{
	transform: rotateY(180deg);
}

.back-footer
{
	font-size: 20px;
	margin-left: 14px;
}

.flip-card-back .back-footer
{
	height: 55%;
	padding: 0 15px;
}

.btn
{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.btn::after
{
	content: '';
	background-color: #fff;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s all ease;
	z-index: -1;

}

.btn:hover { color: #D94111;}

.btn:hover::after{height: 100%;}




.btn_earth
{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.btn_earth::after
{
	content: '';
	background-color: #fff;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s all ease;
	z-index: -1;

}

.btn_earth:hover {color: #2FAB49;}

.btn_earth:hover::after {height: 100%;}




.btn_air
{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.btn_air::after
{
	content: '';
	background-color: #fff;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s all ease;
	z-index: -1;

}

.btn_air:hover {color: #80A3C2;}

.btn_air:hover::after {height: 100%;}



.btn_water
{
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.btn_water::after
{
	content: '';
	background-color: #fff;
	height: 2px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s all ease;
	z-index: -1;

}

.btn_water:hover {color: #4A97D2;}

.btn_water:hover::after {height: 100%;}




.description
{
	position:  relative;
	padding: 100px;
}

.description h2
{
	font-size: 3.7em;
	margin-bottom: 10px;
	color: #fff;
	display: flex;
	justify-content:  center;
	align-items: center;
	text-transform: uppercase;
}

.description p
{
	font-size: 1.3em;
	margin-bottom: 10px;
	color: #fff;
}

.description .first_text
{
	font-size: 1.8em;
	margin-bottom: 10px;
	color: #fff;
}

.description ul li
{
	font-size: 1.3em;
	margin-bottom: 10px;
	color: #fff;
	margin-left: 50px;
}

.leftimg 
{
    float:left;
    margin: 10px 10px 10px 0;
    width: 270px;
    height: 270px;
}



.image_text
{
	display: flex;
	justify-content: center;
	align-items: center;
}
